<web-app version="2.5" id="WebApp_ID" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<display-name>ServletContextUsingXML</display-name>




<context-param>

<param-name>jdbcURL</param-name>

<param-value>jdbc:mysql://localhost:3306/csp</param-value>

</context-param>


<context-param>

<param-name>user</param-name>

<param-value>root</param-value>

</context-param>


<context-param>

<param-name>password</param-name>

<param-value>Polonk@18</param-value>

</context-param>


</web-app>